@* Projects Index *@
@page "/projects"

@using WonderDevTracker.Client.Components.BaseComponents
@using WonderDevTracker.Client.Components.UIComponents.ProjectComponents
@attribute [Authorize]
@inject IProjectDTOService ProjectService

@inherits AuthenticatedComponentBase

<MudContainer MaxWidth="MaxWidth.Large" Class="py-4 v-stack gap-3">
    <MudText Typo="Typo.h3">All Projects </MudText>

    @foreach (ProjectDTO project in projects)
    {
        <div class="py-3">

            <ProjectCard Project="project" />

        </div>
    }


</MudContainer>

@code {
    private IEnumerable<ProjectDTO> projects = [];


    protected override async Task OnInitializedWithAuthAsync()
    {
        projects = await ProjectService.GetAllProjectsAsync(UserInfo!);
    }

}
