@*CompanyDetails *@
@page "/company"
@using WonderDevTracker.Client.Components.UIComponents.CompanyComponents.CompanyDetailsComponents
@attribute [Authorize]

@inject IProjectDTOService ProjectService
@inject ICompanyDTOService CompanyService
@inject IAppAuthorizationService AuthService
@inject IndexTrackerHelper IndexTracker
@inject NavigationManager NavManager
@inject ISnackbar Snackbar

@inherits AuthenticatedComponentBase

<MudContainer MaxWidth="MaxWidth.Large" Class="py-4 page-container" Style="height: 100%; position: relative">
	<MudBreadcrumbs Items="breadcrumbs" Class="breadcrumbs1" />
	@if (!_loadingComplete)
	{
		<LoadingSpinner Message="Loading Company Details..." Color="Color.Primary" Size="Size.Large" />
	}
	else if (_company is not null)
	{
		@* Reset Index at start of render;
					controls the index for components that use IndexTracker.*@
		ResetIndex();
		<PageTitle>@_company?.Name Details | Dev Tracker</PageTitle>

		<div class="v-stack gap-3">
				<CompanyInfo Index="IndexTracker.Next()"
					Company="_company" 
							 OnSave="HandleUpdateCompany" />
			<CompanyMembers Index="IndexTracker.Next()"
			                 Members="_company.Members"/>
				
			<CompanyInvites Index="IndexTracker.Next()" 
			                />
				
		</div>
	}
	else
	{
		<PageTitle>Company Not Found | Dev Tracker</PageTitle>

		<NotFoundFull Message="Company not found"
					  ReturnUrl="/"
					  ReturnLabel="Back to Home"
					   />

	}
	</MudContainer>

	@code {

	#region STATE
	private static readonly List<BreadcrumbItem> breadcrumbs = new()
	{
		new BreadcrumbItem("Home", href:"/"),
		new BreadcrumbItem("Company", href:null, disabled: true)
	};
	private bool _loadingComplete = false;
	private CompanyDTO? _company;
	#endregion

	#region UI HELPERS & COMPUTED
	private void ResetIndex() => IndexTracker.Reset();
	#endregion

	protected override async Task OnInitializedWithAuthAsync()
	{

		try
		{
			_company = await CompanyService.GetCompanyAsync(UserInfo!);
		}
		catch (Exception ex)
		{

			Console.WriteLine(ex);
		}
		_loadingComplete = true;
	}

	private async Task HandleUpdateCompany(CompanyDTO updatedCompany)
	{
		if (!IsAdmin) return;
		_company = updatedCompany;
		try
		{
			await CompanyService.UpdateCompanyAsync(updatedCompany, UserInfo!);
			updatedCompany = await CompanyService.GetCompanyAsync(UserInfo!);
			Snackbar.Add("Company details updated successfully.", Severity.Success);

		}
		catch (Exception ex)
		{
			Console.WriteLine(ex);
			Snackbar.Add("Failed to update company details. Please try again.", Severity.Error);
			
		}


		
	}
}
