@* TicketHistory *@
<AnimatedCard Index="Index">
	<MudPaper Class="px-3">
		<MudCardHeader>
			<MudText Typo="Typo.h3" Color="Color.Primary">@Title</MudText>
		</MudCardHeader>
		@if (Histories?.Any() == true)
		{
			
			<div class="timeline py-3">
				<TicketHistoryTimeline History="Histories" />
			</div>
		

		}
		else
		{
			<NotFoundDisplay Message="No History to Display." />
		}
	</MudPaper>
</AnimatedCard>

@code {
	[Parameter, EditorRequired]
	public int Index { get; set; }

	[Parameter]
	public string Title { get; set; } = "Ticket History";

	[Parameter]
	public IEnumerable<TicketHistoryDTO>? Histories { get; set; } = new List<TicketHistoryDTO>();

}
