@* TicketMetaRow: Priority | Status | Type in equal-height boxes *@

<AnimatedBlock Index="@Index">
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
            <TicketEnumCard TEnum="TicketPriority"
                            Title="Priority"
                            Value="@(Priority)" />
        </div>
        <div class="col">
            <TicketEnumCard TEnum="TicketStatus"
                            Title="Status"
                            Value="@(Status)" />
        </div>
        <div class="col">
            <TicketEnumCard TEnum="TicketType"
                            Title="Type"
                            Value="@(Type)" />
        </div>
    </div>
</AnimatedBlock>


@code {
    [Parameter] 
    public int Index { get; set; }

    [Parameter] 
    public TicketPriority Priority { get; set; }

    [Parameter] 
    public EventCallback<TicketPriority> PriorityChanged { get; set; }

    [Parameter] 
    public TicketStatus Status { get; set; }

    [Parameter] 
    public EventCallback<TicketStatus> StatusChanged { get; set; }

    [Parameter] 
    public TicketType Type { get; set; }

    [Parameter] 
    public EventCallback<TicketType> TypeChanged { get; set; }


}
