@* HorizontalApp Logo *@

<div class="logo-container">
    <a href="/">
        <img src="/img/DT_WhiteNoTextLogo.png" alt="DevTracker Logo" class="logo-image" />
    </a>
    <span class="logo-text">
        <span class="logo-dev">Dev</span><span class="logo-tracker">Tracker</span>
    </span>
    @if (!string.IsNullOrWhiteSpace(Tagline))
    {
        <blockquote class="logo-tagline">@Tagline</blockquote>
    }
</div>
@code{
    [Parameter]
    public string? Tagline{ get; set; }

}