@* AssignedToTicket *@

<div class="@CssClass">

	@if (User is null && !AllowAssignment)
	{
		<NoLinkDevNotAssigned />
	}
	else if(User is null)
	{
			<UnassignedDeveloperLink TicketId="@TicketId" />
	}
	else
	{
		<UserAvatarMudChip User="@User"  />
	}
</div>

@code {
	[Parameter, EditorRequired]
	public AppUserDTO? User { get; set; }

	[Parameter, EditorRequired]		
	public int TicketId { get; set; }

	[Parameter]
	public bool AllowAssignment { get; set; } = true;

	[Parameter]
	public string PlaceholderName { get; set; } = "Unassigned";

	[Parameter]
	public string? Class { get; set; } 

	[Parameter]
	public string? Style { get; set; }

	private string CssClass =>
	   string.IsNullOrWhiteSpace(Class)
		   ? "d-flex align-items-center justify-content-center gap-2"
		   : $"d-flex align-items-center gap-2 {Class}";


}
