@* AssignedToTicket *@
@inject ICompanyDTOService CompanyService


<div class="d-flex align-items-center gap-2">

	@if (User is null)
	{
		<MudText Color="Color.Error">Unassigned</MudText>
	}
	else
	{
		<MudChip T="string">
			<AvatarContent>
				<MudAvatar>
					<MudImage Src="@User.ImageUrl" Alt="@User.FullName" />
				</MudAvatar>
			</AvatarContent>
			<ChildContent>
				<MudText Typo="Typo.body1" Color="Color.Primary">@(User?.FullName ?? PlaceholderName)</MudText>
			</ChildContent>
		</MudChip>
	}
</div>

@code {
	[Parameter, EditorRequired]
	public AppUserDTO User { get; set; }

	[Parameter]
	public string PlaceholderName { get; set; } = "Unassigned";

	[Parameter]
	public string? Class { get; set; }


}
