@* ProjectCard.razor *@

@inject NavigationManager NavManager

@if (Project is not null)
{
    <AnimatedCard Index="Index" OnClick="NavigateToDetails">
        <MudCardHeader>
            <CardHeaderContent>
                <MudLink Typo="Typo.h5" Href="@($"projects/{Project.Id}")" Class="d-block">
                    @Project.Name
                </MudLink>
                <ProjectDates StartDate="Project.StartDate" EndDate="Project.EndDate" />
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>

            <div class="h-100 d-flex align-items-center justify-content-center">
                <MudText Typo="Typo.button" Color="Color.Secondary">
                    No Project Members
                </MudText>
            </div>
        </MudCardContent>
        <MudCardActions>

            <PriorityChip Priority="Project.Priority" />

            <LinksBtn Text="Details" 
                      Href="@($"/projects/{Project.Id}")" 
                      Disabled="@(Project is null)" />

        </MudCardActions>

    </AnimatedCard>
}


@code {

    [Parameter, EditorRequired]
    public ProjectDTO? Project { get; set; }

    [Parameter]
    public int Index { get; set; }//passed from parent to control Animation delay


    private void NavigateToDetails()
    {
        NavManager.NavigateTo($"/projects/{Project?.Id}");
    }

}
