<div class="p-3 footerStyle  text-light">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center align-items-center g-3">
            <div class="col text-md-start order-last order-md-first">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1 copyright">Built by</span>
                        <span><img src="\img\White_logoReflection.png" height="40" /></span>
                    </div>
                    <div class="col-12 copyright">
                        <MudText Typo="Typo.body2" Color="Color.Secondary">
                            &copy; @DateTime.Now.Year All rights reserved
                        </MudText>
                    </div>

                </div>
            </div>
            <div class="col text-center">
                <div class="d-flex align-items-center justify-content-center flex-wrap gap-1">

                    <Logo Tagline="Track Bugs and Features with Developer Precision." />

                </div>
            </div>
            <div class="col-md-end">
                <div class="row">
                    <div class="col-12 me-4">

                        <a href="www.linkedin.com/in/shellywonder" target="_blank" title="SJ's LinkedIn">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="https://github.com/ShellyWonder" target="_blank" title="SJ's GitHub">
                            <i class="bi bi-github"></i>
                        </a>
                        @* <a href="https://www.instagram.com/">
                        <i class="bi bi-instagram"></i>
                        </a> *@
                        <div class="col-12 me-2 p-2">
                            <MudLink Href="#" Target="_blank" Typo="Typo.subtitle2" Color="Color.Success">API Specs</MudLink>
                            &bull;                                                               
                            <MudLink Href="#" Target="_blank" Typo="Typo.subtitle2" Color="Color.Success">Wonder Dev Blog</MudLink>
                            &bull;                                                               
                            <MudLink Href="#" Target="_blank" Typo="Typo.subtitle2" Color="Color.Success">AI Cookbook</MudLink>
                            &bull;                                                               
                            <MudLink Href="#" Target="_blank" Typo="Typo.subtitle2" Color="Color.Success">SJ's Portfolio</MudLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    // TODO update href links
    //TODO: revisit tagline and logo alignment in footer
}
