@* AnimatedBlock *@

<div class="@CssClass" style="@($"--i:{Index}")" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public int Index { get; set; }
    [Parameter] public string CssClass { get; set; } = "form-fade-in";
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}


