@* NotFoundFull *@
@*Used when "Not Found" requires a CTA on a full height view*@

@*EXAMPLE USAGE
    <NotFoundFull 
    Message="Project not found"
    ReturnUrl="/projects"
    ReturnLabel="Back to Projects"
    ForwardUrl="/projects/create"
    ForwardLabel="Create New Project" />
*@
<div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <MudText Typo="Typo.button" Color="Color.Primary" Style="font-size: 2.3rem">
        @Message
    </MudText>
    <div class=" d-flex flex-column flex-sm-row gap-3 mt-3">
        @if (!string.IsNullOrWhiteSpace(ReturnUrl))
        {
            <SafeNavButton Href="@ReturnUrl" Valid="true" 
                         Color="Color.Secondary"
                         Variant="Variant.Text"
                         Class="project-details-link ms-auto"
                         StartIcon="@Icons.Material.Filled.ArrowBack">
                @ReturnLabel
            </SafeNavButton>
        }

        @if (!string.IsNullOrWhiteSpace(ForwardUrl))
        {
            <SafeNavButton Href="@ForwardUrl" Valid="true"
                         Color="Color.Tertiary"
                         Variant="Variant.Text"
                         Class="project-details-link ms-auto"
                         EndIcon="@Icons.Material.Filled.ArrowForward">
                @ForwardLabel
            </SafeNavButton>
        }
    </div>

</div>

@code {
    [Parameter, EditorRequired]
    public string Message { get; set; } = "Page not found";
    [Parameter, EditorRequired]
    public string? ReturnUrl { get; set; }
    [Parameter, EditorRequired]
    public string ReturnLabel { get; set; } = "Go back";

    [Parameter]
    public string? ForwardUrl { get; set; }

    [Parameter]
    public string ForwardLabel { get; set; } = "Create New";
}