/*LandingDemoAccess.razor.css*/
.demo-button {
    width: fit-content;
    border-radius: 999px !important;
    color: var(--dt-primary) !important;
    font-weight: 800 !important;
    text-transform: none !important;
}
