@inherits LayoutComponentBase
@layout AccountLayout



<div class="py-3">
	<MudPaper>
		<div class="d-flex">
			<div>
				<MudText Typo="Typo.h4" Class="p-3">
					Account Settings
				</MudText>
				<MudDivider Light DividerType="DividerType.FullWidth" Class="pb-3" />
				<ManageNavMenu />
			</div>
			<MudDivider Light DividerType="DividerType.FullWidth" Vertical FlexItem />
			<div class="p-3 flex-grow-1">
				@Body
			</div>
		</div>
	</MudPaper>
</div>
